<?xml version="1.0"?>
<!--
Web.config file for mvc.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="Database" value="/db/mvc.fdb" />
    <add key="User" value="SYSDBA" />
    <add key="Password" value="0" />
    <add key="Datasource" value="localhost" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
    	<forms loginUrl="~/Home/Login" name="DCALAG-MVC" defaultUrl="~/Home/Inicio" timeout="20" ></forms>
  	</authentication>
  	<authorization>
		<deny users="?" />
  	</authorization>  
	<!--sessionState mode="InProc" cookieless="false" timeout="20"/-->
  </system.web>
  <location path="Home/Inicio">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Home/Login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
    <location path="Home/ProcessLogin">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
   <location path="Content">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
   <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>