@{
    Layout = null;
 }
@model Persona

<form  ic-post-to='@Url.Content("~/Home/Process")' ic-on-success="onSuccess()"
  ic-replace-target="true" ic-on-error="onError()" ic-on-beforeSend="onBeforeSend()">
	<input type="text" value="@Model.Nombre" id="nombre" />
	<input type="text" value="@Model.Edad" id="edad" />
	<input type="submit" value="Enviar" />
	<img style="display:none" id="loader" src='@Url.Content("~/Content/ajax-loader.gif")' />

	<script>
      function onSuccess(){
        $('#mensajes').html('');
      };

      function onError(){
        $('#mensajes').html('Error!');
        $('#loader').hide();
      }

      function onBeforeSend(){
        $('#loader').show();
      }
    </script>
</form>